:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --main-color: #212121;
  --secondary-color: #757575;
  --hover-color: #2196f3;

  --bg1-color: #ffffff;
  --bg2-color: #f5f4fa;
  --bg3-color: #2f303a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
}
.section {
  
  padding-top: 94px;
  padding-bottom: 94px;

}
.section,
.section-space{
  min-width: 1600px;
  display: flex;
  justify-content: center;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
/* ===== COMPONENT ===== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hover-color);
  border-radius: 4px;
}
/* ===== END COMPONENT ===== */

/* ===== HEADER ===== */
.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}
header .logo {
  margin-right: 93px;
}
.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}
.address-mail {
  margin-left: auto;
}
.address-tel {
  margin-left: 50px;
  margin-right: 12px;
}

.logo-header {
  color: var(--main-color);
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-tel:hover,
.address-mail:focus,
.address-tel:focus {
  color: var(--hover-color);
  cursor: pointer;
}
.address-mail,
.address-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.portfolio-header {
  color: var(--hover-color);
}
/* ===== END HEADER ===== */
/* ===== HERO ===== */

.hero{
  background-color: var(--bg3-color);
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero-button {
  padding: 10px 41px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ===== END HERO ===== */

/* ===== NASZE ATUTY ===== */

.atuty {
  background-color: var(--bg1-color);
}
.atuty-list {
  display: flex;
  justify-content: space-between;
}
.atuty-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}
.atuty-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-transform: initial;
  color: var(--secondary-color);
}
/* ===== END NASZE ATUTY ===== */
/* ===== CZYM SIE ZAJMUJEMY ===== */
.about {
  background-color: var(--bg1-color);
}
.about .container {
  display: flex;
  flex-direction: column;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  justify-content: space-between;
}
/* ===== END CZYM SIE ZAJMUJEMY ===== */
/* ===== NASZ ZESPÓŁ ===== */
.team {
  background-color: var(--bg2-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}
/* ===== END NASZ ZESPÓŁ ===== */
/* ===== PORTFOLIO ===== */
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-filters-list {
  display: flex;
  margin-bottom: 50px;
}
.portfolio-filters-list-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filter-button {
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--bg2-color);
  color: var(--main-color);
  padding: 6px 22px 6px 22px;
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  cursor: pointer;
  background-color: var(--hover-color);
  color: #ffffff;
}
/*.portfolio-filter-button-selected {
  background-color: var(--hover-color);
  color: #ffffff;
}*/
.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-projects-list-item:not(:nth-last-of-type(3n + 1)) {
  margin-right: 26px; /*powinno być 30, ale żeby dodać border, musiałem zmienić wartość marginesu*/
}
.portfolio-projects-list-item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.portfolio-projects-list-name {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 2px 24px;
}
.portfolio-projects-list-type {
  width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin: 2px 24px 20px 24px;
}
/* ===== END PORTFOLIO ===== */

/* ===== FOOTER ===== */
.footer{
  background-color: var(--bg3-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
footer .logo {
  margin-bottom: 20px;
}
.logo-footer {
  color: #ffffff;
}
.address-list-item {
  margin-bottom: 9px;
}
.address-list-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list-mail,
.address-list-tel {
  opacity: 0.6;
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--hover-color);
}
/* ===== END FOOTER ===== */
