.atuty {
    background-color: var(--bg1-color);
    padding-bottom: 0px;
  }
  .atuty-list {
    display: flex;
    justify-content: space-between;
  }
  .atuty-list-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
  }
  .atuty-icon-space {
    background-color: var(--bg2-color);
    display: flex;
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .atuty-icon {
    width: 70px;
    height: 70px;
  }
  .atuty-list-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-transform: initial;
    color: var(--secondary-color);
  }