/*
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile-hero-bg.jpg");
  background-size: 480px 400px;
  background-repeat: no-repeat;

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    width: 480px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
  }
  &__button {
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}



*/


@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (mix-width: 767px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile-hero-bg@2x.jpg");
  }
}


.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile-hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 118px;
      padding-bottom: 118px;
    }

    &__title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      text-align: center;
      width: 365px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 30px;
    }
    &__button {
      padding: 10px 41px 10px 42px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
  @media screen and (min-width: 480px) {

    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/mobile-hero-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet-hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 200px;
      }
  
      &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.364;
        text-align: center;
        width: 696px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 30px;
  }
}
}








  /*

  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &__title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.364;
      text-align: center;
      width: 696px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 30px;
    }
    &__button {
      padding: 10px 41px 10px 42px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
  
  */