.title {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
  }


  @media screen and (min-width: 480px) {
    .title {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.179;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 480px) {
    .title {
      font-size: 36px;
      line-height: 1.167;
    }
  }

  @media screen and (min-width: 1200px) {
    .title {
      margin-bottom: 50px;
    }
  }





  /*
      .title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.167;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }
    */