:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
  
    --main-color: #212121;
    --secondary-color: #757575;
    --hover-color: #2196f3;
  
    --bg1-color: #ffffff;
    --bg2-color: #f5f4fa;
    --bg3-color: #2f303a;
  }